data/raw/no_3.5.csv filter=lfs diff=lfs merge=lfs -text
data/raw/no_3.5.1.csv filter=lfs diff=lfs merge=lfs -text
data/raw/data4.csv filter=lfs diff=lfs merge=lfs -text
yes_3.5_19.csv filter=lfs diff=lfs merge=lfs -text
yes_3.5_18.csv filter=lfs diff=lfs merge=lfs -text
yes_3.5_17.csv filter=lfs diff=lfs merge=lfs -text
yes_3.5_16.csv filter=lfs diff=lfs merge=lfs -text
yes_3.5_15.csv filter=lfs diff=lfs merge=lfs -text
yes_3.5_1.csv filter=lfs diff=lfs merge=lfs -text
yes_3.5_14csv filter=lfs diff=lfs merge=lfs -text
